@import "variables";

@font-face {
  font-family: '@{icomoon-font-family}';
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?2k57cr');
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?2k57cr#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?2k57cr') format('truetype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff?2k57cr') format('woff'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.svg?2k57cr#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left-arrow {
  &:before {
    content: @icon-left-arrow;     
    color: #bdbdbd;
  }
}
.icon-right-arrow {
  &:before {
    content: @icon-right-arrow;     
    color: #bdbdbd;
  }
}
.icon-m {
  &:before {
    content: @icon-m;     
    color: #eb5757;
  }
}
.icon-telegram {
  &:before {
    content: @icon-telegram;     
    color: #c4c4c4;
  }
}
.icon-courier-image {
  &:before {
    content: @icon-courier-image; 
  }
}
.icon-email-image {
  &:before {
    content: @icon-email-image; 
  }
}
.icon-map-image {
  &:before {
    content: @icon-map-image; 
  }
}
.icon-menu_support {
  &:before {
    content: @icon-menu_support; 
  }
}
.icon-master-image {
  &:before {
    content: @icon-master-image; 
  }
}
.icon-clock {
  &:before {
    content: @icon-clock;     
    color: #bdbdbd;
  }
}
.icon-wallet {
  &:before {
    content: @icon-wallet;     
    color: #bdbdbd;
  }
}
.icon-car {
  &:before {
    content: @icon-car;     
    color: #fff;
  }
}
.icon-icon-clock {
  &:before {
    content: @icon-icon-clock;     
    color: #f6f6f6;
  }
}
.icon-icon-scope {
  &:before {
    content: @icon-icon-scope;     
    color: #f6f6f6;
  }
}
.icon-icon-security {
  &:before {
    content: @icon-icon-security;     
    color: #f6f6f6;
  }
}
.icon-accessories {
  &:before {
    content: @icon-accessories; 
  }
}
.icon-tv {
  &:before {
    content: @icon-tv; 
  }
}
.icon-ipad {
  &:before {
    content: @icon-ipad; 
  }
}
.icon-iphone {
  &:before {
    content: @icon-iphone; 
  }
}
.icon-ipod {
  &:before {
    content: @icon-ipod; 
  }
}
.icon-monitor {
  &:before {
    content: @icon-monitor; 
  }
}
.icon-mac {
  &:before {
    content: @icon-mac; 
  }
}
.icon-watch {
  &:before {
    content: @icon-watch; 
  }
}

