@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qe0s2m');
  src:  url('fonts/icomoon.eot?qe0s2m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qe0s2m') format('truetype'),
    url('fonts/icomoon.woff?qe0s2m') format('woff'),
    url('fonts/icomoon.svg?qe0s2m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_ipod:before {
  content: "\e907";
}
.icon-contacts:before {
  content: "\e900";
}
.icon-curer:before {
  content: "\e901";
}
.icon-ipad:before {
  content: "\e902";
}
.icon-iphone:before {
  content: "\e903";
  color: #3ba4ff;
}
.icon-mac:before {
  content: "\e904";
}
.icon-master:before {
  content: "\e905";
  color: #2680ee;
}
.icon-phone:before {
  content: "\e906";
}
.icon-start01:before {
  content: "\e908";
  color: #fff;
}
.icon-start02:before {
  content: "\e909";
  color: #fff;
}
.icon-start03:before {
  content: "\e90a";
  color: #fff;
}
.icon-start04:before {
  content: "\e90d";
  color: #fff;
}
.icon-tv:before {
  content: "\e90b";
}
.icon-watch:before {
  content: "\e90c";
}
