@icomoon-font-family: "icomoon";
@icomoon-font-path: "fonts";

@icon-contacts: "\e900";
@icon-curer: "\e901";
@icon-ipad: "\e902";
@icon-iphone: "\e903";
@icon-mac: "\e904";
@icon-master: "\e905";
@icon-phone: "\e906";
@icon-start01: "\e907";
@icon-start02: "\e908";
@icon-start03: "\e909";
@icon-start04: "\e90a";
@icon-tv: "\e90b";
@icon-watch: "\e90c";

